.header {
  padding-block: 0.5rem;
  background-color: #f9f9f9;
  font-family: "Roboto";
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  display: inline-block;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); */
  transition: all 0.3s ease;
}

.aid {
  padding: 0.15rem 0.5rem;
  background-color: #eaf4f4; /* Green color for 'Aid' */
}

.ops {
  padding: 0.15rem 0.5rem;
  color: #f9f9f9;
  background-color: #3d3b8e; /* Red-orange color for 'Ops' */
}

.logo:hover {
  transform: scale(1) translateY(-2px);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
}

.inner {
  float: inline-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.link {
  display: block;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  /* color: white; */
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: "#F26419";
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: #00798c; /* New active background color (e.g., green) */
    color: #ffffff; /* New active text color */
  }
}
