.header {
  padding-block: 1rem;
  background-color: #ffeedd;
  font-family: "Roboto";
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  float: inline-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.link {
  display: block;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  /* color: white; */
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: "#F26419";
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: #00798c; /* New active background color (e.g., green) */
    color: #ffffff; /* New active text color */
  }
}
